.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  padding-right: 1rem;
  padding-left: 0.5rem;
}

.container a {
  color: black;
}
